*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #333333;
	
}
@media only screen and (min-width: 320PX) and (max-width:360PX) {
	html {
		font-size: 13.65px
	}
}

@media only screen and (min-width: 360PX) and (max-width:375PX) {
	html {
		font-size: 15.36px
	}
}

@media only screen and (min-width: 375PX) and (max-width:390PX) {
	html {
		font-size: 16px
	}
}

@media only screen and (min-width: 390PX) and (max-width:414PX) {
	html {
		font-size: 16.64px
	}
}

@media only screen and (min-width: 414PX) and (max-width:640PX) {
	html {
		font-size: 17.664px
	}
}

@media screen and (min-width: 640PX) {
	html {
		font-size: 27.31px
	}
}
.container{
	
	width: 100%;
}
.header{
	
	height: 4.0625rem;
	background-color: #0A69CD;
	display: flex;
	position: relative;
	padding: 0 20px;
	align-items: center;
}
.logoImg{
	width: 40%;
	height: auto;

}
.h_right{
	position: absolute;
	right: 20px;
	display: flex;
}
.headerCenter{
	
	font-size: 0.875rem;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.headerRightImg{
	width: 30px;
	height: 30px;
	margin-left: 10px;
}

.swiperImg {
	margin-top: 0px;
	
	
}


.navGroup{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 20px;
}
.navGroup_item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nav_title{
	color: #333333;
	font-size: 0.875rem;
}
.navImg{
	width: 3.75rem;
	height: auto;
	margin: 0.3125rem;
}
.gongaolan{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 15px;
	padding: 1.25rem 0.625rem;
	box-shadow:2px 0px 20px 0px rgba(183,183,183,0.46);
	border-radius: 10px;
	position: relative;
}

.recome_rule {
	
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	
	text-overflow: ellipsis;
}

.recome_slow {
	width: 97%;
	height: 30px;
	margin-top: 2px;
	line-height: 30px;
	color: #535353;
	font-size: 14px;
	transform: translate3d(0px, 0px, 0px);
	transition: transform 0.4s ease-in-out;
}
.recome_slow div{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	height: 30px;

}
.kuaixuntext {
	display: inline-block;
	width: 98% !important;
	height: 30px ;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #E02A14;
}
.newImg{
	width: 20px;
	position: absolute;
	top: 0;
	right: 20px;
}

.toutiaoList_item{
	display: flex;
	height: 50px;
	align-items: center;
	border-bottom:2px solid #F9F9F9;
	margin: 0 10px;
	padding: 0 10px;
}
.toutiaoList_item_a1{
	margin-left: 10px;
	text-decoration: none;
	color: #E02A14;
}
.toutiaoList_item_a{
	margin-left: 10px;
	text-decoration: none;
	
}
.mianshou{
	border-top: 5px solid #F9F9F9;
	padding-top: 15px;
	margin-top: 15px;
}
.mianshouImg{
	width: 8.125rem;
	height: 5.125rem;
}
.mianshouTitle{
	font-weight: bold;
	text-align: center;
	font-size: 1.25rem;
}

.mianshouList_item{
	margin: 15px;
	box-shadow:2px 0px 20px 0px rgba(183,183,183,0.24);
	border-radius:5px;
	padding: 10px;
}
.mianshouList_item_top{
	display: flex;
	position: relative;
}

.mianshouList_item_right{
	width: 58%;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.ms_r_title{
	color: #333333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ms_r_content{
	font-size: 12px;
	color: #FE9807;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ms_right_detail{
	padding: 0.1875rem 0.9375rem;
	font-size: 0.875rem;
	white-space: nowrap;
	background-color: #DF3736;
	color: white;
	border-radius:23px;
	position: absolute;
	right: 0;
}
.mianshouList_item_bottom{
	margin-top: 10px;
}
.ms_item_b1{
	display: flex;
	
}
.ms_item_b1_text{
	font-size: 0.875rem;
	color: #666666;
	margin-right: 20px;
}
.ms_item_b1_text2{
	font-size: 0.9375rem;
	color: #333333;
}
.showmore{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #333333;
}
.youshiGroup{
	padding: 0 5px;
	margin-top: 15px;
}
.youshiImg{
	width: 100%;
	height: auto;
	
	z-index: -1;
}
.youshiImgm1{
	width: 6.25rem;
	height: auto;
	position: absolute;
	bottom: 0;
	right: -10px;
	z-index: 41;
}
.youshiImgm{
	width: 5rem;
	height: auto;
	position: absolute;
	bottom: 0;
	right: 15px;
	z-index: 41;
}
.youshiTitle{
	color: #0E6ACD;
	position: absolute;
	top: 15px;
	left: 20px;
	z-index: 999;
}
.youshiCont{
	position: absolute;
	color: #333333;
	font-size: 0.625rem;
	top: 40px;
	z-index: 999;
	padding: 0 20px;
	
}
.xueyuanGroup{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-top: 20px;
}
.xueyuan_card{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow:2px 0px 20px 0px rgba(183,183,183,0.24);
	padding: 5px;
}
.xueyuan_img{
	width: 60px;
	height: 60px;
}
.xueyuan_name{
	color: #333333;
	font-size: 14px;
	
}
.xueyuan_danwei{
	font-size: 10px;
	color: #333333;
}
.xueyuan_pici{
	font-size: 10px;
	color: white;
	background-color: #F95050;
	padding: 2px 5px;
}
.swiperBottm{
	margin-top: 15px;
}
.swiper-containerbottom {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.lunbobottom_title{
	color:#000000;
	text-decoration:none;
	
	font-size:14px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis; 
	
	height:30px;
	line-height:30px;
	z-index: 999;
	background-color: #FFFFFF;
	padding-left: 15px;
	margin-top: -4px;
}

.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80px;
	background-color: #0A69CD;
	margin-top: 20px;
	padding-bottom: 5px;
}
.footer_logo{
	width: 40%;
	height: auto;
	padding: 20px 0 10px 0;
	
}



/* newsDetail.html */
.shuxian{
	width: 1px;
	height: 25px;
	margin: 0 10px;
	background-color: #FFFFFF;
}
.header_text{
	color: #FFFFFF;
	font-size: 1rem;
}
.home_img{
	position: absolute;
	right: 1.375rem;
	width: 1.25rem;
	height: 1.25rem;
	top: 1.40625rem;
}
.mianbaoxue{
	height: 60px;
	line-height: 60px;
	padding-left: 10px;
	border-bottom: 8px solid #F9F9F9;
}
.newslist{
	display: flex;
	flex-direction: column;
	margin: 10px 20px;
	border-bottom:  2px solid #F9F9F9;
	padding-bottom: 10px;
}
.newslist_title{
	color: #333333;
}
.newslist_date {
	color: #999999;
	font-size: 14px;
	width: 100%;
	position: relative;
	margin-top: 5px;
}
.newslist_source{
	position: absolute;
	right: 0;
}


/* 详情页 */
.d_content{
	padding: 10px;
}
.d_title{
	color: #333333;
}
.d_date{
	color: #999999;
	font-size: 0.875rem;
	border-bottom: 2px solid #F9F9F9;
	height: 30px;
	line-height: 30px;
}
.d_detail{
	padding: 10px;
	color: #333333;
}
.top_down{
	color: #333333;
	font-size: 0.875rem;
	border-top: 2px solid #F9F9F9;
	padding-top: 10px;
}
.yanshen{
	margin: 10px;
	border: 2px solid #E5E5E5;
	border-radius: 5px;
	padding: 10px;
}

.yanshen_title{
	font-size: 1.125rem;
	color: #333333;
	height: 40px;
	line-height: 40px;
}
.yuanquan{
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #E5E5E5;
	border-radius: 100%;
}
.yanshen_a{
	font-size: 0.875rem;
	margin-left: 5px;
}


/* 课程css */
.sign_card{
	width: 80%;
	margin: 0 auto;
	box-shadow:0px 3px 16px 0px rgba(132, 132, 132, 0.35);
	border-radius: 5px;
	padding: 15px;
	background-color: #FFFFFF;
	z-index: 999;
	position: relative;
	top: -120px;
}
.sign_input{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
}
.nameInput{
	width: 65%;
	height: 35px;
	line-height: 35px;
	border: 0;
	background:rgba(250,250,250,1);
	border-radius: 20px;
	padding-left: 15px;
}
.lingqu{
	background:rgba(10,105,205,1);
	border-radius:20px;
	height: 2.1875rem;
	width: 50%;
	margin:  0 auto;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.ziliao_center{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;
	margin-top: 20px;
}
.ziliao_title{
	font-weight: bold;
	color: #333333;
	font-size: 1.25rem;
}
.ziliao_cont{
	color: #666666;
	font-size: 1rem;
}
.ziliaoGroup1{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	position: relative;
}
.ziliaoGroup1_item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ganhuoImg{
	width: 3.75rem;
	height: 3.75rem;
}
.ganhuoText{
	font-size: 0.75rem;
	color: #333333;
	margin-top: 10px;
}

.ziliao_center2{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 20px;
}
.yizhan_bg{
	width: 100%;
	
	height: 5rem;
	background-color: #44546A;
}
.yizhanGroup{
	
	margin: 0 auto;
	
}
.duobianxing{
	position: absolute;
	top: 1.25rem;
	left: 3.125rem;
}
.duobingxingimg1{
	width: 4.375rem;
	height: auto;
	
}
.duobingxing1_text{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 4.375rem;
	font-size: 0.75rem;
	color: #FFFFFF;
	position: absolute;
	top:0.3125rem;
}
.duobianxing2{
	position: absolute;
	left: 6.5625rem;
	top: 3.125rem;
}
.duobingxingimg2{
	width: 5.625rem;
	height: auto;
}
.duobingxing2_text{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 5.625rem;
	font-size: 0.75rem;
	color: #FFFFFF;
	position: absolute;
	top: 0.625rem;
}

.duobianxing3{
	position: absolute;
	left: 10.625rem;
	top: 0;
}
.duobingxingimg3{
	width: 5rem;
	height: auto;
}
.duobingxing3_text{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 5rem;
	font-size: 0.75rem;
	color: #FFFFFF;
	position: absolute;
	top: 0.625rem;
}

.duobianxing4{
	position: absolute;
	left: 13.75rem;
	top: 3.125rem;
}
.duobingxingimg4{
	width: 6.875rem;
	height: auto;
}
.duobingxing4_text{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 6.875rem;
	font-size: 0.75rem;
	color: #FFFFFF;
	position: absolute;
	top:1.25rem;
}

.fangxiangGroup{
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.fangxiangcard{
	background-color: #F0F7FF;
	padding: 10px;
	position: relative;
	z-index: -2;
}
.fangxiang_title{
	font-weight:bold;
	color:rgba(38,114,228,1);
	font-size: 1.125rem;
	margin-bottom: 10px;
}
.fangxiang_content{
	font-size: 0.875rem;
	color: #291F51;
	z-index: 999;
	
}
.fangxiangImg{
	width: 3.75rem;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: -1;
	margin-top: -30px;

}